{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.AppName}}</title>
  <style>
    @import "https://lsong.org/css/stylesheet.css";
    @import "https://blog.lsong.org/css/yue.css";

    ul.list {
      padding: 0;
    }

    .container {
      padding: 10px 30px 100px 30px;
    }

    .form-field {
      margin-bottom: 5px;
    }

    article {
      overflow: hidden;
      white-space: wrap;
    }

    [method="delete"] {
      color: red;
    }
  </style>
  <style>
    {
        {
        .Stylesheet
      }
    }
  </style>
</head>

<body>
  <div class="container">
    <h1><a href="/">{{.AppName}}</a></h1>
    <nav>
      <a href="/posts">posts</a>
      <a href="/feeds">feeds</a>
      <a href="/new">[+]</a>
      <a href="/rss.xml">[rss]</a>
      <a href="/atom.xml">[atom]</a>
      <a href="/opml.xml">[opml]</a>
    </nav>
    <main>
      {{template "page" .}}
    </main>
  </div>
</body>

<script>
  document.addEventListener('click', e => {
    const method = e.target.getAttribute('method');
    if (method) {
      e.preventDefault();
      fetch(e.target.href, { method });
    }
  })
</script>

</html>

{{end}}