{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reader</title>
  <style>
    @import "https://lsong.org/css/stylesheet.css";
    @import "https://blog.lsong.org/css/yue.css";
    ul.list {
      padding: 0;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1><a href="/">Reader</a></h1>
    <nav>
      <a href="/">home</a>
      <a href="/feeds">feeds</a>
      <a href="/new">subscribe</a>
    </nav>
    <main>
      {{template "page" .}}
    </main>
  </div>
</body>

</html>

{{end}}