{{define "page"}}
<h2>
{{ if .feed }}
<a href="{{.feed.Home}}" target="_blank">{{.feed.Name}}</a>
{{else}}
Posts
{{ end }}
</h2>

<nav>
{{if .feed }}
<a href="/feeds?category={{.feed.Category.Id}}">[{{.feed.Category.Name}}]</a>
<a href="/feeds/edit?id={{.feed.Id}}">edit</a>
<a href="/feeds?id={{.feed.Id}}" method="delete">delete</a>
{{else}}
<a href="/posts?unread">unread</a>
<a href="/posts?readed">readed</a>
<a href="/posts?saved">saved</a>
{{end}}
<a href="/refresh?id={{.feed.Id}}">refresh</a>
</nav>

<ul class="list">
  {{range $i, $post := .posts}}
  <li>
    <a href="/posts?id={{$post.Id}}">{{$post.Title}}</a>
  </li>
  {{end}}
</ul>

{{if gt .pagination.Total 0}}
  <nav class="pagination">
    {{if gt .pagination.Page 1}}
      <a href="?page={{.pagination.Prev}}&size={{.pagination.Size}}">&lt;</a>
    {{end}}

    <span>{{.pagination.Page}}/{{.pagination.PageCount}}</span>

    {{if .pagination.HasMore}}
      <a href="?page={{.pagination.Next}}&size={{.pagination.Size}}">&gt;</a>
    {{end}}
  </nav>
{{end}}

{{end}}